.contacts {
    background-image: url("../img/bg/school.png");
    background-size: contain;
}

.contacts__social-wrap {
    width: 100%;
}

.contacts__social-inner-wrap {
    padding: 0 20px;
    width: 100%;

    background-color: $white;
}


@media (min-width: $tablet-width) {
    .contacts__social-wrap {
        position: absolute;
        z-index: 1;
    }

    .contacts__social-inner-wrap {
        position: absolute;
        top: 60px;
        right: 30px;

        padding: 25px 25px 15px 25px;
        width: 300px;

        border-radius: 10px;
        box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.4);
    }
}

@media (min-width: $desktop-width) {
    .contacts__social-wrap {
        position: relative;
        width: 1200px;
        margin: 0 auto;
    }

    .contacts__social-inner-wrap {
        position: absolute;
        z-index: 1;
        right: 50px;

        padding: 30px 30px 20px 30px;
        width: 350px;

        border-radius: 20px;
    }
}
