.form {
    width: 100%;
}

.form__row {
    width: 100%;
    margin-bottom: 25px;
}

.form__label {
    display: inline-block;
    margin-bottom: 7px;

    font-size: 20px;
    color: $violet;
}

.form__input,
.form__textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 20px;

    border: 1px solid #d7dbe8;
    border-radius: 3px;

    appearance: none;
}

.form__textarea {
    height: 100px;

    resize: none;
}

.form__input--error {
    background: transparent url("../img/icon-error.png") no-repeat right 10px top 50%;
    border-color: #f84646;
}

.form__input--select {
    background: #ffffff url("../img/dropdown.svg") right 20px top 50% no-repeat;
}

.form__row--controls {
    margin-top: 60px;
    margin-bottom: 0;
}

.form__message {
    margin: 0;
    margin-top: 2px;

    font-size: 11px;
    color: #f84646;
}

.form__button {
    width: 100%;
    padding: 15px 30px 10px 30px;

    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: $white;
    text-transform: uppercase;
    text-align: center;

    background-color: $violet;
    border: none;

    cursor: pointer;

    &:hover,
    &:focus {
        opacity: 0.6;
        outline: none;
    }

    &:active {
        opacity: 0.3;
    }
}

@media (min-width: $desktop-width) {
    .form {
        width: 1200px;
        margin: 0 auto;
        padding: 40px 50px 60px 50px;
    }

    .form__label {
        font-size: 24px;
    }
}
