.materials {
    background-image: url("../img/bg/school.png");
    background-size: cover;
}

.materials__note {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: $violet;
}

@media (min-width: $tablet-width) {
    .materials__note {
        font-size: 18px;
    }
}
