.materials-list {
    @include list-reset();
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px 0 50px 0;
}

.materials-list__item {
    width: 100%;
    margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
    .materials-list {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 30px 0 50px 0;
        padding: 0 30px;
    }

    .materials-list__item {
        width: 48%;
        margin-bottom: 0;
    }
}

@media (min-width: $desktop-width) {
    .materials-list {
        width: 1200px;
        margin: 30px auto 50px auto;
        padding: 0 50px;
    }

    .materials-list__item {
        width: auto;
    }

    .materials-list__image {
        height: 480px;
        width: auto;
    }

    .materials-list__original-image {
        height: 550px;
    }
}
