.modal {
    position: fixed;
    z-index: 3;
    left: 50%;
    top: 50%;

    display: none;
    width: 760px;
    height: 759px;
    margin-top: -379.5px;
    margin-left: -355px;

    &--show {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.modal__close-button {
    @include hide-text();
    position: fixed;
    top: 0;
    right: 0;

    width: 60px;
    height: 60px;

    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../img/menu-close.svg");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;

    &:hover,
    &:focus {
        opacity: 0.6;
        outline: none;
    }

    &:active {
        opacity: 0.3;
        outline: none;
    }
}

.modal__image {
    height: auto;

    &--hidden {
        display: none;
    }
}

@media (min-width: $desktop-width) {
    .modal__image {
        display: flex;
        width: 340px;

        border-radius: 6px;

        &--hidden {
            display: flex;
        }
    }
}
