.modal-toggle-button {
    width: 100%;
    padding: 15px 30px 10px 30px;

    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: $white;
    text-transform: uppercase;
    text-align: center;

    background-color: $green;
    border: none;

    cursor: pointer;

    &:hover,
    &:focus {
        background-color: $shadow-green;
        outline: none;
    }

    &:active {
        opacity: 0.5;
    }

    &--teachers {
        display: none;
    }

    &--gallery {
        &:hover,
        &:focus {
            color: $violet;
            background-color: $light-violet;
        }
    }

    &--teachers-name {
        background-color: $orange;

        &:hover,
        &:focus {
            background-color: $shadow-orange;
        }
    }
}

.modal-toggle-button--faculty,
.modal-toggle-button--gallery {
    color: $violet;

    background-color: $light-violet;

    &:hover,
    &:focus {
        color: $white;

        background-color: $violet;
    }
}

@media (min-width: $tablet-width) {
    .modal-toggle-button {
        &--teachers {
            display: block;

            background-color: $violet;

            &:hover,
            &:focus {
                background-color: $light-violet;
            }
        }

        &--gallery {
            display: block;
            margin: 30px 30px 30px auto;
            width: fit-content;

            color: $white;
            background-color: $violet;
        }
    }
}

@media (min-width: $desktop-width) {
    .modal-toggle-button {
        display: none;

        &--teachers {
            display: block;
            width: 340px;
            background-color: $violet;

            &:hover,
            &:focus {
                background-color: $light-violet;
            }
        }

        &--gallery {
            display: block;
            width: fit-content;
            padding: 15px 40px 10px 40px;
            margin: 30px 0 30px auto;
        }

        &--teachers-name {
            display: block;

            font-size: 16px;
            text-align: center;
        }
    }

    .modal-toggle-button--faculty,
    .modal-toggle-button--gallery {
        display: flex;
        justify-content: center;

        &:hover,
        &:focus {
            color: $violet;

            background-color: $light-violet;
        }
    }
}
