.news {
    display: none;

    background-image: url("../img/bg/school.png");
}

@media (min-width: $tablet-width) {
    .news {
        display: block;
    }
}

@media (min-width: $desktop-width) {
    .news {
        width: 1200px;
        margin: 0 auto;
    }
}
