.news {
    display: none;

    background-image: url("../img/bg/school.png");
    background-size: cover;
}

@media (min-width: $tablet-width) {
    .news {
        display: block;
        width: 100%;
    }
}

@media (min-width: $desktop-width) {
    .news__wrap {
        width: 1200px;
        margin: 0 auto;
    }
}
