.photo-gallery--main {
    display: none;
}

@media (min-width: $tablet-width) {
    .photo-gallery--main {
        display: block;
    }
}

@media (min-width: $desktop-width) {
    .photo-gallery--main {
        width: 1200px;
        margin: 0 auto;
    }
}
