.photo-preview-list {
    @include list-reset();
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 40px 30px;
}

.photo-preview-list__item {
    margin-bottom: 20px;

    & > a {
        display: flex;
        justify-content: center;
        width: 340px;
    }
}

.photo-preview-list__image {
    display: flex;

    border-radius: 6px;
}

.photo-preview-list__original-image {
    max-height: 760px;
    width: auto;
}

@media (min-width: $desktop-width) {
    .photo-preview-list {
        width: 1200px;
        padding: 50px;
        margin: 0 auto;
    }

    .photo-preview-list__image {
        &:hover,
        &:focus,
        &:active {
            box-shadow: 0 6px 21px 0 rgba(0,0,0,.4);
            border-radius: 6px;
            outline: none;
        }
    }
}
