.photo-gallery {
    background-image: url("../img/bg/school.png");
}

.photo-gallery--main {
    display: none;
}

@media (min-width: $tablet-width) {
    .photo-gallery--main {
        display: block;
        width: 100%;
    }
}
