.schedule-list {
    @include list-reset();
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.schedule-list__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

@media (min-width: $tablet-width) {
    .schedule-list {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 30px;
    }

    .schedule-list__item {
        width: 45%;
        margin-bottom: 20px;
    }
}

@media (min-width: $desktop-width) {
    .schedule-list {
        width: 1200px;
        margin: 0 auto;
    }

    .schedule-list__item {
        width: auto;
        margin-bottom: 30px;

        border: 3px solid $violet;
        border-radius: 6px;

        cursor: pointer;

        &:hover {
            box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.4);
        }
    }
}
