/* stylelint-disable */
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: "Blogger Sans";
  src: url("../fonts/bloggersans-bold.woff2") format("woff2"), url("../fonts/bloggersans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Blogger Sans";
  src: url("../fonts/bloggersans.woff2") format("woff2"), url("../fonts/bloggersans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  margin: 0;
  font-family: "Blogger Sans", "Arial", sans-serif; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="file"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.svg-template {
  display: none; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ffffff; }

.header--scrollable .header__logo {
  margin: 5px 0 0 30px; }

.header--scrollable .header__button-toggle {
  top: 25px; }

.header--scrollable .header__tagline {
  top: 35px; }

.header--scrollable .header__menu-wrap {
  padding-bottom: 5px; }

.header--scrollable .header__list {
  margin-top: 5px; }
  .header--scrollable .header__list a {
    padding: 5px 0 0 0; }

.header--scrollable .header__contacts-list {
  top: -10px; }

.header--scrollable .header__social-list {
  top: -15px; }

.header__contacts-social-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto; }

.header__top-wrap {
  position: relative;
  width: 100%;
  margin: 0 auto; }

.header__wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  width: 100%;
  background-color: #6a296c; }

.header__logo {
  margin: 20px 0 10px 20px; }

.header__menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 20px 25px 20px;
  margin: 0 auto;
  width: 280px; }
  .header__menu-wrap--hidden {
    display: none; }

.header__tagline {
  position: absolute;
  top: 40px;
  left: 80px;
  font-size: 22px;
  font-weight: 400;
  text-transform: initial;
  color: #6a296c; }
  .header__tagline--hidden {
    display: none; }

.header__button-toggle {
  font-size: 0;
  line-height: 0;
  color: transparent;
  position: absolute;
  top: 35px;
  right: 20px;
  display: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none; }
  .header__button-toggle::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url("../img/menu-open.svg");
    background-repeat: no-repeat;
    background-size: 30px; }
  .header__button-toggle--show {
    display: block; }
  .header__button-toggle:hover, .header__button-toggle:focus, .header__button-toggle:active {
    outline: none; }

.header__button-toggle--opened::before {
  background-image: url("../img/menu-close.svg"); }

@media (min-width: 768px) {
  .header--scrollable .header__button-toggle {
    top: 35px; }
  .header__logo {
    margin: 15px 0 5px 30px;
    width: 308px;
    height: 80px; }
  .header__contacts-social-wrap {
    width: 100%; }
  .header__wrap {
    padding: 0; }
  .header__menu-wrap {
    width: 100%;
    padding: 0 30px 20px 30px; }
  .header__button-toggle {
    right: 30px;
    top: 40px; }
  .header__tagline {
    display: block;
    top: 45px;
    left: 400px;
    font-size: 24px;
    font-weight: 700; }
    .header__tagline--hidden {
      display: block; } }

@media (min-width: 1200px) {
  .header__top-wrap {
    width: 1200px; }
  .header__contacts-social-wrap {
    width: 1200px; }
  .header__button-toggle,
  .header__button-toggle--show {
    display: none; }
  .header__menu-wrap,
  .header__menu-wrap--hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px; }
  .header__logo {
    margin-right: 50px; }
  .header__tagline {
    left: 450px;
    text-transform: uppercase; } }

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px; }

.nav-list__link {
  display: block;
  padding: 10px 0;
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: uppercase; }
  .nav-list__link:hover, .nav-list__link:focus {
    opacity: 0.6; }
  .nav-list__link:active {
    opacity: 0.3; }

@media (min-width: 768px) {
  .nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px; }
  .nav-list__item:not(:last-child) {
    margin-right: 30px; } }

.top-social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px; }

.top-social-list__link {
  font-size: 0;
  line-height: 0;
  color: transparent;
  display: block; }
  .top-social-list__link:hover, .top-social-list__link:focus {
    opacity: 0.6; }
  .top-social-list__link:active {
    opacity: 0.3; }

.top-social-list__item:not(:last-child) .top-social-list__link {
  margin-right: 20px; }

.top-social-list__svg {
  fill: #ffffff; }

@media (min-width: 768px) {
  .top-social-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; } }

@media (min-width: 1200px) {
  .top-social-list {
    position: fixed;
    top: 0;
    right: 310px; }
  .top-social-list__svg {
    fill: #6a296c; } }

.top-contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.top-contacts-list__item {
  margin-top: 5px; }
  .top-contacts-list__item:first-child {
    margin-top: 25px; }

.top-contacts-list__link:hover, .top-contacts-list__link:focus {
  opacity: 0.6; }

.top-contacts-list__link:active {
  opacity: 0.3; }

.top-contacts-list__link,
.top-contacts-list__address {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: initial; }

@media (min-width: 768px) {
  .top-contacts-list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; } }

@media (min-width: 1200px) {
  .top-contacts-list {
    position: fixed;
    right: 70px;
    top: 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .top-contacts-list__link,
  .top-contacts-list__address {
    font-weight: 700;
    color: #6a296c; } }

.main-nav {
  width: 100%;
  margin: 0 auto; }

@media (min-width: 1200px) {
  .main-nav {
    width: 1100px; } }

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px; }
  .introduction--english, .introduction--pre-school, .introduction--creative-studio, .introduction--science, .introduction--acting {
    background-image: url("../img/bg/school.png"); }
  .introduction--gymnastics, .introduction--kickboxing, .introduction--kids-fitness, .introduction--fitness-training {
    background-image: url("../img/bg/sport.png"); }

.introduction__image {
  height: auto;
  border-top: 3px solid #6a296c;
  border-bottom: 3px solid #6a296c; }

.introduction__video {
  display: block;
  width: 100%;
  margin: 0;
  -o-object-fit: cover;
     object-fit: cover; }

.introduction__wrap {
  margin: 20px 20px 30px 20px;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.3); }

.introduction__description {
  padding: 20px;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #6a296c; }
  .introduction__description:not(:first-child) {
    padding-top: 0; }

@media (min-width: 768px) {
  .introduction {
    margin-top: 110px; }
  .introduction__image {
    display: block;
    margin: 0 auto;
    border: 3px solid #6a296c; }
  .introduction__wrap {
    margin: 30px 30px 40px 30px;
    border-radius: 20px; }
  .introduction__description {
    padding: 30px;
    font-size: 22px; } }

@media (min-width: 1200px) {
  .introduction {
    margin-top: 206px; }
  .introduction__wrap {
    width: 1100px;
    margin: 30px auto 40px auto; } }

.modal {
  position: fixed;
  z-index: 3;
  left: 50%;
  top: 50%;
  display: none;
  width: 760px;
  height: 759px;
  margin-top: -379.5px;
  margin-left: -355px; }
  .modal--show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.modal__close-button {
  font-size: 0;
  line-height: 0;
  color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/menu-close-white.svg");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border: none; }
  .modal__close-button:hover, .modal__close-button:focus {
    opacity: 0.6;
    outline: none; }
  .modal__close-button:active {
    opacity: 0.3;
    outline: none; }

.modal__image {
  height: auto; }
  .modal__image--hidden {
    display: none; }

@media (min-width: 1200px) {
  .modal__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 340px;
    border-radius: 6px; }
    .modal__image--hidden {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.section-header {
  padding: 50px 20px 0 20px;
  margin: 0 0 30px 0;
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #6a296c;
  text-transform: uppercase;
  text-align: center; }
  .section-header--main {
    font-size: 30px; }

@media (min-width: 768px) {
  .section-header {
    padding: 50px 30px 0 30px;
    font-size: 32px; }
    .section-header--main {
      font-size: 36px; } }

@media (min-width: 1200px) {
  .section-header {
    padding: 90px 50px 0 50px;
    font-size: 42px; }
    .section-header--main {
      font-size: 46px; } }

.schedule-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.schedule-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  width: 100%; }

@media (min-width: 768px) {
  .schedule-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 30px; }
  .schedule-list__item {
    width: 45%;
    margin-bottom: 20px; } }

@media (min-width: 1200px) {
  .schedule-list {
    width: 1200px;
    margin: 0 auto; }
  .schedule-list__item {
    width: auto;
    margin-bottom: 30px;
    border: 3px solid #6a296c;
    border-radius: 6px;
    cursor: pointer; }
    .schedule-list__item:hover {
      -webkit-box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.4);
              box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.4); } }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8; }
  .overlay--show {
    display: block; }

.sponsores {
  background-color: #b5b5b5; }

.sponsores-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 20px; }

.sponsores-list__link:hover, .sponsores-list__link:focus {
  opacity: 0.6;
  outline: none; }

.sponsores-list__link:active {
  opacity: 0.3;
  outline: none; }

.sponsores-list__item:not(:last-child) {
  margin-bottom: 50px; }

@media (min-width: 768px) {
  .sponsores-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 50px 30px; }
  .sponsores-list__item:not(:last-child) {
    margin-bottom: 0; } }

@media (min-width: 1200px) {
  .sponsores-list {
    width: 1200px;
    margin: 0 auto;
    padding: 60px 50px; } }

.features {
  padding: 0 20px;
  background-color: #f1d1ff; }

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px; }

.features-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 15px; }

.features-list__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  padding-top: 4px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #ffffff;
  background-color: #6a296c;
  border-radius: 50%; }

.features-list__title {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #000000; }

@media (min-width: 768px) {
  .features {
    padding: 0 30px; }
  .features-list__number {
    width: 40px;
    height: 40px;
    margin-right: 30px;
    font-size: 20px; }
  .features-list__title {
    font-size: 20px; } }

@media (min-width: 1200px) {
  .features {
    padding: 0; }
  .features-list {
    width: 1200px;
    margin: 0 auto;
    padding: 0 50px 50px 50px; }
  .features-list__number {
    width: 60px;
    height: 60px;
    margin-right: 40px;
    font-size: 24px; }
  .features-list__title {
    font-size: 24px; } }

.faculties-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.faculties-list__item {
  margin-bottom: 10px;
  width: 100%; }

.faculties-list__item:hover .faculties-list__title,
.faculties-list__item:focus .faculties-list__title {
  background-color: #ff6d05; }

.faculties-list__item:active .faculties-list__title {
  opacity: 0.5; }

.faculties-list__image {
  display: none; }

.faculties-list__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #ff9100; }

@media (min-width: 768px) {
  .faculties-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    padding: 40px 30px 50px 30px; }
  .faculties-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
    width: 30%;
    overflow: hidden;
    border-radius: 30px; }
  .faculties-list__image {
    display: block;
    border-radius: 30px 30px 0 0; }
  .faculties-list__title {
    height: 90px;
    font-size: 22px;
    font-weight: 700;
    border-radius: 0 0 30px 30px; }
  .faculties-list__item:hover .faculties-list__image,
  .faculties-list__item:focus .faculties-list__image {
    -webkit-transform: scale(1.05) translateY(-5px);
            transform: scale(1.05) translateY(-5px); }
  .faculties-list__item:hover,
  .faculties-list__item:focus,
  .faculties-list__item:active {
    -webkit-box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.4);
            box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.4);
    outline: none; } }

@media (min-width: 1200px) {
  .faculties-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 1200px;
    margin: 0 auto;
    padding: 40px 50px 50px 50px; }
  .faculties-list__item {
    width: 320px; }
  .faculties-list__item:not(:nth-child(3n)) {
    margin-right: 70px; } }

.introduction-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px 30px 20px; }

.introduction-list__item {
  position: relative;
  padding-left: 25px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #6a296c; }
  .introduction-list__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 16px; }

.introduction-list--english li::before {
  background-image: url("../img/list-icons/hat.png"); }

.introduction-list--pre-school li::before {
  background-image: url("../img/list-icons/tick.png"); }

.introduction-list--creative-studio li::before {
  background-image: url("../img/list-icons/palette.png"); }

.introduction-list--science li::before {
  background-image: url("../img/list-icons/microscope.png"); }

.introduction-list--gymnastics li::before {
  background-image: url("../img/list-icons/gymnastics.png"); }

.introduction-list--kickboxing li::before {
  background-image: url("../img/list-icons/kickboxing.png"); }

.introduction-list--kids-fitness li::before {
  background-image: url("../img/list-icons/kids-fitness.png"); }

.introduction-list--fitness-training li::before {
  background-image: url("../img/list-icons/fitness-training.png"); }

.introduction-list--acting li::before {
  background-image: url("../img/list-icons/acting.png"); }

.introduction__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px 10px 20px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #6a296c;
  border-radius: 0 0 10px 10px; }
  .introduction__link:hover, .introduction__link:focus {
    color: #6a296c;
    font-weight: 700;
    background-color: #f1d1ff;
    outline: none; }
  .introduction__link:active {
    opacity: 0.3;
    outline: none; }

@media (min-width: 768px) {
  .introduction-list {
    padding: 0 30px 30px 30px; }
  .introduction-list__item {
    padding-left: 30px;
    margin-bottom: 15px;
    font-size: 18px; }
    .introduction-list__item:last-child {
      margin-bottom: 0; }
  .introduction__link {
    padding: 25px 20px 20px 20px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 0 0 20px 20px; } }

.duration {
  background-color: #f1d1ff; }

.duration__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 30px 20px; }

.duration__text {
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #6a296c; }

@media (min-width: 768px) {
  .duration__text-wrap {
    padding: 0 30px 40px 30px; }
  .duration__text {
    font-size: 18px; } }

@media (min-width: 1200px) {
  .duration__text-wrap {
    width: 1200px;
    margin: 0 auto;
    padding: 30px 50px 70px 50px; }
  .duration__text {
    font-size: 22px; } }

.quantity__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 30px 20px; }

.quantity__text {
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #6a296c; }

@media (min-width: 768px) {
  .quantity__text-wrap {
    padding: 0 30px 40px 30px; }
  .quantity__text {
    font-size: 18px; } }

@media (min-width: 1200px) {
  .quantity__text-wrap {
    width: 1200px;
    margin: 0 auto;
    padding: 30px 50px 70px 50px; }
  .quantity__text {
    font-size: 22px; } }

.price {
  background-color: #f1d1ff; }

.price__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 30px 20px; }

.price__text {
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #6a296c; }

@media (min-width: 768px) {
  .price__text-wrap {
    padding: 0 30px 40px 30px; }
  .price__text {
    font-size: 18px; } }

@media (min-width: 1200px) {
  .price__text-wrap {
    width: 1200px;
    margin: 0 auto;
    padding: 30px 50px 70px 50px; }
  .price__text {
    font-size: 22px; } }

.materials__note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #6a296c; }

@media (min-width: 768px) {
  .materials__note {
    font-size: 18px; } }

.modal-toggle-button {
  width: 100%;
  padding: 15px 30px 10px 30px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #19d000;
  border: none;
  cursor: pointer; }
  .modal-toggle-button:hover, .modal-toggle-button:focus {
    background-color: #17aa00;
    outline: none; }
  .modal-toggle-button:active {
    opacity: 0.5; }
  .modal-toggle-button--teachers {
    display: none; }
  .modal-toggle-button--teachers-name {
    background-color: #ff9100; }
    .modal-toggle-button--teachers-name:hover, .modal-toggle-button--teachers-name:focus {
      background-color: #ff6d05; }

.modal-toggle-button--faculty {
  color: #6a296c;
  background-color: #f1d1ff; }
  .modal-toggle-button--faculty:hover, .modal-toggle-button--faculty:focus {
    color: #ffffff;
    background-color: #6a296c; }

@media (min-width: 768px) {
  .modal-toggle-button--teachers {
    display: block;
    background-color: #6a296c; }
    .modal-toggle-button--teachers:hover, .modal-toggle-button--teachers:focus {
      background-color: #f1d1ff; }
  .modal-toggle-button--teachers-name {
    display: none; } }

@media (min-width: 1200px) {
  .modal-toggle-button {
    display: none; }
    .modal-toggle-button--teachers {
      display: block;
      width: 340px;
      background-color: #6a296c; }
      .modal-toggle-button--teachers:hover, .modal-toggle-button--teachers:focus {
        background-color: #f1d1ff; }
  .modal-toggle-button--faculty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .modal-toggle-button--faculty:hover, .modal-toggle-button--faculty:focus {
      color: #6a296c;
      background-color: #f1d1ff; } }

.materials-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 30px 0 50px 0; }

.materials-list__item {
  width: 100%;
  margin-bottom: 10px; }

.materials-list__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .materials-list__wrap--pre-school {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

@media (min-width: 768px) {
  .materials-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: 30px 0 50px 0;
    padding: 0 30px; }
  .materials-list__item {
    width: 48%;
    margin-bottom: 20px; } }

@media (min-width: 1200px) {
  .materials-list {
    width: 1200px;
    margin: 30px auto 50px auto;
    padding: 0 50px; }
  .materials-list__item {
    width: auto; }
  .materials-list__image {
    height: 480px;
    width: auto; }
  .materials-list__original-image {
    height: 550px; } }

.footer {
  background-color: #6a296c; }

.cloths__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 30px 20px; }

.cloths__text {
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #6a296c; }

@media (min-width: 768px) {
  .cloths__text-wrap {
    padding: 0 30px 40px 30px; }
  .cloths__text {
    font-size: 18px; } }

@media (min-width: 1200px) {
  .cloths__text-wrap {
    width: 1200px;
    margin: 0 auto;
    padding: 30px 50px 70px 50px; }
  .cloths__text {
    font-size: 22px; } }

.teachers-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.teachers-list__item {
  margin-bottom: 10px; }

.teachers-list__image-preview {
  display: none; }

.teachers-list__subject {
  display: block;
  width: 100%;
  padding: 10px 30px 5px 30px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #6a296c; }

.teachers-list__info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .teachers-list__info-wrap--hidden {
    display: none; }

.teachers-list__close-button {
  display: none; }

@media (min-width: 768px) {
  .teachers-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 30px 30px 30px; }
  .teachers-list__item {
    width: 45%;
    margin-bottom: 20px; }
  .teachers-list__image-preview {
    display: block; }
  .teachers-list__image {
    display: none; }
  .teachers-list__subject {
    display: none; } }

@media (min-width: 1200px) {
  .teachers-list {
    width: 1200px;
    margin: 0 auto;
    padding: 0 50px 50px 50px; }
  .teachers-list__item {
    width: auto; }
  .teachers-list__image {
    display: block;
    width: 760px; }
  .teachers-list__image-preview {
    width: 340px; }
  .teachers-list__info-wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 1100px;
    height: 800px;
    margin-left: -550px;
    margin-top: -400px;
    padding: 40px 60px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.4);
            box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.4); }
  .teachers-list__close-button {
    font-size: 0;
    line-height: 0;
    color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../img/menu-close.svg");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    border: none; }
    .teachers-list__close-button:hover, .teachers-list__close-button:focus {
      opacity: 0.6;
      outline: none; }
    .teachers-list__close-button:active {
      opacity: 0.3;
      outline: none; }
  .teachers-list__main-info-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.teacher-description-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 20px; }

.teacher-description-list__item {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #6a296c; }
  .teacher-description-list__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url("../img/list-icons/tick.png");
    background-repeat: no-repeat;
    background-size: 16px; }

@media (min-width: 1200px) {
  .teacher-description-list {
    padding: 0 16px 0 50px; } }

.diplomas__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

@media (min-width: 768px) {
  .diplomas__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .diplomas__wrap > a {
      width: 45%; } }

@media (min-width: 1200px) {
  .diplomas {
    margin-top: 40px; }
    .diplomas--small .diplomas__wrap > a {
      width: 20%; }
  .diplomas__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .diplomas__wrap > a {
      width: 10%;
      margin-right: 15px;
      margin-bottom: 15px; }
  .diplomas__image {
    border-radius: 0; }
  .diplomas__original-image {
    max-height: 759px; } }
