$black: #000000;

$shadow-orange: #ff6d05;
$orange: #ff9100;
$map-bg: #fff8d4;

$violet: #6a296c;
$light-violet: #f1d1ff;

$shadow-green: #17aa00;
$green: #19d000;

$gray: #b5b5b5;

$white: #ffffff;

$tablet-width: 768px;
$desktop-width: 1200px;
